
.container-create {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    height: 100px;
  }
  
  .question-block {
    margin-bottom: 30px;
  }
  
  .answer-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .answer-block input[type="text"] {
    flex: 1;
    margin-right: 10px;
  }
  
  .answer-block label {
    display: flex;
    align-items: center;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5bc0de; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #08b7ec; 
  }
  
  button.add-question {
    background-color: #008cba;
    margin-bottom: 15px;
  }
  
  button.add-question:hover {
    background-color: #007bb5;
  }
  .remove-question {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .remove-question:hover {
    background-color: #ff1a1a;
  }
  