.login {
    background-color: #f7f7f7;
  }
  
  .card-login {
    max-width: 400px;
    width: 100%;
  }
  
  img.rounded-circle {
    background-color: #e0e0e0;
    padding: 20px;
  }
  